{% block footer %}
<body>
 <div class="container-fluid">
        <div class="footer-section navbar-expand">
          <ul class="navbar-nav mr-auto mt-lg-0 footer-icons">
            <li class="nav-item mr-3">
              <i class="fab fa-discord"></i>
            </li>
            <li class="nav-item">
              <i class="fas fa-cog"></i>
            </li>
          </ul>
        </div>
      </div>
</body>
{% endblock %}

<style media="screen">
  .footer-sv {
    height: 60px;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #F9B39D;
  }

  .footer-icons {
    font-size: 2.5em;
    color: #4B3030;
  }
</style>
