<style media="screen">
  .navbar-brand img {
    width: 50px;
    height: 50px;
  }

  .main-mnu {
    height: 68px;
    background-color: #F9B39D;
  }

  .nav-item {
    margin-left: 20px;
  }

  .header-btn {
    сolor: #4B3030;
  }

  .link-restyle:hover {
    color: white;
  }

  .user-avatar {
    margin-top: 0px;
  }

  .user-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 10px
  }

  .user-name {
    text-transform: uppercase;
    position: relative;
    top: 13px;
    font-weight: 600;
  }

  .dropdown-menu {
    margin: 0 !important;
    min-width: 16rem;
    border: none !important;
    border-radius: 0px !important;
    background-color: #4B3030;
  }

  .dropdown-item {
    max-width: 13rem !important;
    color: white !important;
    padding: 1rem 1rem !important;
    margin: 2rem .5rem;
    background-color: #F9B39D;
  }

  .form-inline {
    margin: .7em 0 1.7em .5em;
  }

  .form-inline .form-control {
    border-radius: 0px;
    border: 0px;
    max-width: 13rem;
  }


</style>
 <nav class="navbar navbar-expand main-mnu">
          <div class="collapse navbar-collapse">
            <a class="navbar-brand d-flex align-items-center text-white  ml-5" href="/">
              <img src="img/logo.png" alt="Logo">
            </a>
            <ul class="navbar-nav mr-auto mt-lg-0">
              <li class="nav-item">
                <a class="sv-btn dropdown-toggle link-restyle" href="#">THEMES</a>
                <!-- вот здесь у нас - список тем. Учтите, что у первого элемента должен быть также и класс mt-2, а у последнего - mb-4 -->
                <div class="dropdown-menu position-absolute" aria-labelledby="dropdownMenuLink">
                  <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success m4-2 my-sm-0 mr-2" type="submit"><i class="fas fa-search"></i></button>
                  </form>
                  <!-- кстати, думаю, что форма будет постоянной, поэтому перебирать темы через Джанго (если вы будете это делать), то форму трогать не надо. -->
                  <a class="dropdown-item mt-2" href="#">ANIME</a>
                  <a class="dropdown-item" href="#">MYTHS</a>
                  <a class="dropdown-item" href="#">GAMES</a>
                  <a class="dropdown-item mb-4" href="#">MUSIC</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="sv-btn link-restyle" href="#">CREATE THEME</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <div class="user-avatar">
                  <img src="https://cs8.pikabu.ru/avatars/2394/x2394359-1990384763.png">
                </div>
              </li>
              <li class="nav-item">
                <div class="user-name">
                  <p>Anonim Anonimus</p>
                </div>
              </li>
            </ul>
              <a class="sv-btn link-restyle ml-4 mr-5">LOG OUT</a>
          </div>
 </nav>



  <!-- этот не трогайте -->
  <script>

    dropdowns = document.querySelector(".dropdown-toggle");
    dropdownMenus = document.querySelector(".dropdown-menu");
    dropdowns.addEventListener('click', function() {
      dropdownMenus.classList.toggle('show')
    });

  </script>