{% extends 'votings/basic.html' %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <form class="auth-form">
          <div class="form-header">
            <p>REGISTER</p>
          </div>
          <div class="form-fields">
            <input type="text" name="email" placeholder="EMAIL">
            <input type="text" name="nickname" placeholder="NICKNAME">
            <input type="text" name="password" placeholder="PASSWORD">
            <input type="text" name="password" placeholder="PASSWORD AGAIN">
          </div>
          <button type="submit" name="login-button" class="auth-btn">SIGN UP</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block title %}
  Simple Votings | Registration
{% endblock %}

